.form-join{
    margin-right: 93px;
}

.form-join__text{
    margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-backgroud-header;
}

.form-join__item{
    @extend %socials-icon;
    flex-direction: row;
    width: 44px;
    height: 44px;
}

.form-join__link{

    background-color: $color-background-socials-footer;
}